extends pug/layout/base
block title
  - var title = 'Index'
block body
  h1 Index
  .container
    +hello('Webpack')(class="hello")
    img(src=require("./img/bambuk.jpg") alt="bambuk" width="500")
  include pug/_include/footer
