{% extends "njk/base.njk" %}
{% set app_title = "Index" %}
{% block body %}
  <h1>{{ app_title }}</h1>
  {% include "blocks/header/header.njk" %}
  {{ img('img/webpack.png') }}
  {{ img('img/bambuk.jpg', class='bambuk', alt='bambuk image') }}
{% endblock %}
