extends pug/base
block title
  - var title = 'Index'
block body
  h1= title
  .container
    include blocks/header/header.pug
    h2: code index.pug
    +hello('Webpack')(class="hello")
    img(src=require("./img/bamboo.jpg") alt="bamboo" width="500")
    img(src=require("./img/svg/car_bay_24x.svg") alt="car" width="63")
