extends pug/base
block title
  - var title = 'Index'
block body
  h1= title
  .container
    include blocks/header/header.pug
    +hello('Webpack')(class="hello")
    img(src=require("./img/bambuk.jpg") alt="bambuk" width="500")
    img(src=require("./img/svg/car_bay_24x.svg") alt="bambuk" width="63")
